
header {
    width: 100%;
    position: relative;
}

header>p {
    width: 100%;
    max-width: 100%;
    height: 700px;
    background-image: url("../assets/img/Group-120.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;

}

header>article {
    position: absolute;
    top: 50px;
    left: 0px;
    color: var(--color-grey-3);
    font-size: var(--text-1);
    width: 950px;
    max-width: 100%;
    padding: 20px;
}

header>article>h1 {
    font-weight: 600;
    font-size: var(--title-1);
    margin-top: 15px;
}
header > article > p > b{
    color: var(--color-grey-5);
    line-height: 50px;
    
}
header > article > button{
    width: 268px;
    padding: 10px;
    border-radius: var(--radius-default);
    background-color: var(--color-brand-1);
    border-color: var(--color-brand-1);
    color: var(--color-grey-6);
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    margin: 15px auto;
}

/* PRINCIPAL */
main > .containerAllCards{
    width: 650px;
    max-width: 100%;
    margin-left: 8px;
}
body > h1{
    margin-left: 8px;
}
.containerAllCards > .containerCard {
    width: 100%;
    background-color: var(--color-grey-6);
    border-radius: var(--radius-default);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.containerCard > h2{
    color: var(--color-grey-1);
    font-weight: 600;
}

.containerCard > ul{
    width: 270px;
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    list-style: none;
    margin-top: 15px;
    margin-left: -5px;
}

.containerCard > p{
    margin-top: 15px;
}
.containerCard > span{
    background-color: var(--color-grey-3);
    border-radius: 8px;
    padding: 5px;
    width: 200px;
    line-height: 15px;
    margin-top: 15px;
}

.containerCard > button{
    width: 268px;
    padding: 10px;
    border-radius: var(--radius-default);
    background-color: var(--color-brand-1);
    border-color: var(--color-brand-1);
    color: var(--color-grey-6);
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    margin: 25px auto;
}

main > .containerVagasSelec{
    width: 530px;
    max-width: 100%;
    background-color: var(--color-grey-6);
    margin-top: 90px;
    margin-left: 8px;
    border-radius: var(--radius-default);
    padding: 16px;
    
}
.containerVagasSelec > ul{
    width: 470px;
    max-width: 100%;
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 1.125rem;
}

.containerVagasSelec > ul:hover{
   background-color: var(--color-grey-5);
}

.containerVagasSelec > ul > li{
    width: 279px;
    max-width: 100%;
}

.containerVagasSelec > ul > button{
    background-color: var(--color-grey-5);
    border: none;
    padding: 16px;
    border-radius: var(--radius-default);
}

.containerVagasSelec > ul > button:hover{
    background-color: var(--color-grey-6);
    cursor: pointer;
    
}



.texto{
    margin-top: 50px;
}
.imagemTexto{
    margin-top: 35px;
}



@media(min-width:965px){
    .containerVagasSelec{
        position: sticky;
        right: 0px;
        top: 0px;
        bottom: 145px;
    }
    .containerAllCards{
        margin-top: 70px;
        width: 750px;
    }

    .containerVagasSelec > ul{
        width: 480px;
        max-width: 100%;
    }

}


@media(min-width:1024px){
    .containerVagasSelec{
        position: sticky;
        right: 0px;
        top: 0px;
        bottom: 208px;
    }
    .containerVagasSelec > ul{
        width: 491px;
        max-width: 100%;
        border: 1px solid var(--color-grey-6);
    }

    .containerVagasSelec > ul > button{
        padding: 19px;
    }

    .containerAllCards{
        margin-top: 73px;
    }

    body > h1{
        margin-left: 90px;
        margin-top: 50px;
    }
    .containerCard{
        position: relative;
    }
    .containerCard > button{
       position: absolute;
       right: 25px;
       top: 170px;
       font-family: "Poppins", sans-serif;
    }
}